/* Select boxes */
selectbox {
  width: 100%;
  /* height: 32px; */
  display: block;
  transition: all 0.2s ease-in-out;
  /* border-style: solid; */
  border-width: 1px;
  overflow: hidden;
  box-sizing: border-box;
}

selectbox > div.checkbox {
  margin: 4px;
  width: 24px;
  height: 24px;
  /* display: inline-block; */
  float: left;
  border-width: 2px;
  border-style: solid;
  transition: all 0.2s ease-in-out;
}

selectbox > div.checkbox[type="checkbox"] {
  border-radius: 20%;
}

selectbox > div.checkbox[type="radio"] {
  border-radius: 50%;
}

selectbox:hover {
  cursor: pointer;
}

selectbox[disabled] {
  filter: opacity(0.5);
}

selectbox[disabled]:hover {
  cursor: no-drop;
}

selectbox:hover > div.checkbox {
  box-shadow: 0px 0px 10px currentColor;
}

selectbox[disabled]:hover > div.checkbox {
  box-shadow: 0px 0px 0px currentColor; 
}

selectbox > div.checkbox {
  background-color: rgba(0, 0, 0, 0);
  filter: brightness(0.5);
}

selectbox > div.checkbox[checked] {
  background-color: currentColor;
  box-shadow: 0px 0px 5px currentColor; 
  filter: brightness(1);
}

selectbox > div.checkbox[checked]:hover {
  box-shadow: 0px 0px 10px currentColor; 
}

selectbox > p.textbox {
  user-select: none;
  float: left;
  margin: 0;
  max-width: 100%;
  vertical-align: middle;
}

selectbox > input.counterbox {
  user-select: none;
  float: left;
  vertical-align: middle;
}

/* Checkmark for checkboxes */
selectbox > div.checkbox[type="checkbox"][checked] {
  position: relative;
  display: inline-block;
  width: 30px;
  height: 30px;
}

selectbox > div.checkbox[type="checkbox"][checked]::before {
  position: absolute;
  left: 0;
  top: 50%;
  height: 50%;
  width: 3px;
  background-color: currentColor;
  filter: invert();
  content: "";
  transform: translateX(4px) rotate(-45deg);
  transform-origin: left bottom;
}

selectbox > div.checkbox[type="checkbox"][checked]::after {
  position: absolute;
  left: 0;
  bottom: 0;
  height: 3px;
  width: 100%;
  background-color: currentColor;
  filter: invert();
  content: "";
  transform: translateX(4px) rotate(-45deg);
  transform-origin: left bottom;
}