:root {
  --basefont: Arial, Helvetica, sans-serif;
  --subtitleFont: var(--basefont);
  --bgcolor: #1b1b1b;
  --panelcolor: #2b2b2b;
  --innerpanelcolor: #4b4b4b;
  --txtcolor: white;
  --playingSong: #00c843;
  --songTextColor: white;
  --songTextShadowColor: 0px 0px 5px black;
  --songSelected: #008cff;
  --scrollbarColor: #1b1b1b;
  --scrollbarThumbColor: #353535;
  --scrollbarWidth: 24px;
  --subtitleColor: white;
  --subtitleShadow: 0px 0px 5px #000;
  --subtitleBackgroundColor: rgba(0, 0, 0, 0.25);
  --buttonTextColor: white;
}

body {
  background-color: var(--bgcolor);
  color: var(--txtcolor);
  margin: 0;
  padding: 0;
  font-family: var(--basefont);
  overflow: hidden;
  width: 100vw;
  height: 100vh;
}

#mainbody {
  /* margin-top: 32px; */
  width: 100vw;
  height: calc(100vh);
  z-index: 0;
}

#musicObject {
  position: absolute;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  z-index: -1;
}

#storyboard {
  z-index: 0;
  position: absolute;
  left: 0;
  top: 32px;
  height: 100%;
  width: 100vw;
  /* transition: all 0.2s ease-out; */
}

#titlebar {
  display: block;
  position: fixed;
  /* top: 1px;
  left: 2px; */
  padding: 2px;
  height: 30px;
  width: calc(100% - 4px); /*Compensate for body 1px border*/
  background: var(--bgcolor);
  /* background: linear-gradient(0deg, var(--bgcolor) 50%, var(--panelcolor) 100%); */
  color: var(--bgcolor);
  color: var(--txtcolor);
  z-index: 100000;
}

.maximized #titlebar {
  width: 100%;
  /* padding: 0; */
}

/* .maximized #window-title {
  margin-left: 12px;
} */

.maximized #restore-button {
  display: flex !important;
}

.maximized #max-button {
  display: none;
}

#titlebar #drag-region {
  display: grid;
  width: 100%;
  height: 100%;
  grid-template-columns: auto 138px;
  -webkit-app-region: drag;
}

#window-title {
  grid-column: 1;
  display: flex;
  align-items: center;
  overflow: hidden;
  /* width: 100px; */
  font-size: 20px;
  -webkit-app-region: drag;
}

#window-title span {
  /* translate: ; */
  /* display: block; */
  /* overflow: hidden; */
  text-overflow: ellipsis;
  white-space: nowrap;
  line-height: 1.5;
  user-select: none;
  /* width: 100%; */
  text-align: center;
  margin-left: 50vw;
  transform: translateX(-50%);
  /* vertical-align: middle; */
}

#window-title #title-container {
  display: grid;
  overflow: hidden;
  -webkit-app-region: drag;
  user-select: none;
}

#titlebar > img {
  position: absolute;
  height: 28px;
  -webkit-app-region: drag;
  user-select: none;
}

#titlebar #window-title #system-menu {
  margin-left: 36px;
}

#window-controls {
  display: grid;
  grid-template-columns: repeat(3, 46px);
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  -webkit-app-region: no-drag;
}

#system-menu {
  display: grid;
  /* grid-template-columns: repeat(3, 48px); */
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  -webkit-app-region: no-drag;
}

#system-menu .button {
  grid-row: 1 / span 1;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  padding-left: 3px;
  padding-right: 3px;
  user-select: none;
}

#window-controls .button {
  grid-row: 1 / span 1;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  user-select: none;
}
#min-button {
  grid-column: 1;
}
#max-button, #restore-button {
  grid-column: 2;
}
#close-button {
  grid-column: 3;
}
#window-controls .button:hover, #system-menu .button:hover {
  background: rgba(255,255,255,0.1);
}
#window-controls .button:active, #system-menu .button:active {
  background: rgba(255,255,255,0.2);
}

#close-button:hover {
  background: #E81123 !important;
}
#close-button:active {
  background: #F1707A !important;
}
#close-button:active .icon {
  filter: invert(1);
}

#restore-button {
  display: none !important;
}

@media (-webkit-device-pixel-ratio: 1.5), (device-pixel-ratio: 1.5),
(-webkit-device-pixel-ratio: 2), (device-pixel-ratio: 2),
(-webkit-device-pixel-ratio: 3), (device-pixel-ratio: 3) {
  #window-controls .icon {
    width: 10px;
    height: 10px;
  }
}

div.sidebar.left {
  left: 0;
}

div.sidebar.right {
  right: 0;
}

div.sidebar {
  position: absolute;
  bottom: 0;
  background-color: var(--panelcolor);
  height: calc(100vh - 32px);
  max-height: calc(100vh);
  margin-top: 32px;
  min-width: 0%;
  width: 0%;
  opacity: 0;
  overflow: hidden;
  overflow-y: auto;
  transition: width 1s ease-in-out;
  transition-property: width, opacity;
  z-index: 100;
  /* word-wrap: break-word; */
}

div.floatingbutton {
  user-select: none;
  position: absolute;
  transition: all 0.5s ease-in-out;
  width: 128px;
  height: 128px;
}

div.floatingbutton:hover {
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  width: 138px;
  height: 138px;
}

div.floatingbutton img {
  user-select: none;
  user-select: none;
  display: block;
  max-height: 100%;
  max-width: 100%;
}

div.floatingbutton#midpanelcontainer {
  position: absolute;
  transition: all 0.5s ease-in-out;
  width: 320px;
  height: 96px;
  bottom: 40px;
  left: 50vw;
  transform: translateX(-49%);
}

div.floatingbutton#midpanelcontainer div.smallfloatingbutton {
  user-select: none;
  position: absolute;
  transition: all 0.5s ease-in-out;
  filter: brightness(0.8);
  /* width: 32px;
  height: 32px;
  bottom: 0px; */
  width: 56px;
  height: 56px;
  bottom: 4px;
}

div.floatingbutton#midpanelcontainer:hover {
  cursor: default;
}

div.floatingbutton#midpanelcontainer div.smallfloatingbutton#audioadjuster {
  bottom: -2px;
}

div.floatingbutton#midpanelcontainer div.smallfloatingbutton#audioadjuster:hover {
  bottom: -2px;
}

div.floatingbutton#midpanelcontainer:hover div.smallfloatingbutton#audioadjuster {
  bottom: -2px;
}

div.floatingbutton#midpanelcontainer div.smallfloatingbutton#audioadjuster:hover {
  bottom: -2px;
}

div.floatingbutton#midpanelcontainer div.smallfloatingbutton:hover {
  cursor: pointer;
  transition: all 0.1s ease-in-out;
  filter: brightness(1);
  width: 56px;
  height: 56px;
  bottom: 12px;
}

div.smallfloatingbutton img {
  user-select: none;
  display: block;
  transition: all 0.1s ease-in-out;
  height: 100%;
  width: 100%;
}

/* div.floatingbutton#midpanelcontainer div.smallfloatingbutton img {
  transform: translateX(-8px);
} */

::-webkit-scrollbar {
  background-color: var(--scrollbarColor);
  width: var(--scrollbarWidth);
}

::-webkit-scrollbar-thumb {
  background-color: var(--scrollbarThumbColor);
}

div.sidebar:hover, div.sidebar[open] {
  width: 35vw;
  opacity: 0.9;
  transition: width 0.2s ease-in-out;
  transition-property: width, opacity;
}

#songselection {
  background-color: var(--innerpanelcolor);
  width: 100%;
  min-height: 32px;
  height: 60%;
  max-height: 60%;
  margin-top: 2%;
  box-sizing: border-box;
  scroll-behavior: smooth;
  overflow-x: hidden;
  overflow-y: hidden;
}

/* #songmenusidebar {
  height: calc(100% - 20px);
} */

#songselection:hover {
  overflow-y: auto;
}

#songselection div.musicitem {
  width: 35vw;
  box-sizing: border-box;
  min-height: 1em;
  /* border: solid 1px white; */
  background-color: var(--innerpanelcolor);
  color: var(--songTextColor);
  text-shadow: var(--songTextShadowColor);
}

#songselection div.songgroup {
  overflow: hidden;
}

#songselection div.songgroup[collapsed] {
  filter: brightness(0.8);
}

#songselection div.songgroup[collapsed] div.musicitem {
  display: none;
}

#songselection div.songgroup div.songgrouphead {
  /* min-height: 64px; */
  width: 100%;
  background-color: var(--bgcolor);
  border-top: solid white 1px;
  padding-left: 8px;
}

#songselection div.songgroup div.songgrouphead:hover {
  background-color: var(--panelcolor);
  cursor: pointer;
}

#songselection div.songgroup div.songgrouphead p {
  padding-top: calc(32px - 1em);
  padding-bottom: calc(32px - 1em);
  margin: 0;
  user-select: none;
  transition: all 0.15s ease-in-out;
}

#songselection div.songgroup div.songgrouphead:hover p {
  margin-left: 16px;
}

#songselection div.musicitem div.innermusicitem {
  transition: transform 0.1s ease-in-out;
  border: solid 1px white;
  box-sizing: border-box;
}

#songselection div.musicitem[playing] div.innermusicitem {
  background-color: var(--playingSong);
}

#songselection div.musicitem:hover[playing] {
  background-color: var(--playingSong);
  /* filter: invert(); */
}

#songselection div.musicitem[selectedsong] div.innermusicitem {
  background-color: var(--songSelected);
}

#songselection div.musicitem:hover[selectedsong] {
  background-color: var(--songSelected);
}

#songselection div.musicitem:hover div.innermusicitem {
  min-height: 1em;
  border: solid 1px white;
  box-sizing: border-box;
  transform: translate(1%, -4px);
  width: 100%;
  box-shadow: 4px 4px 10px 10px var(--bgcolor);
  /* background-color: var(--bgcolor); */
  filter: brightness(0.75);
  cursor: pointer;
}

#songselection div.musicitem:hover + div.musicitem div.innermusicitem{
  min-height: 1em;
  border: solid 1px white;
  box-sizing: border-box;
  transform: translate(0.5%, -2px);
}

#songselection div.musicitem p {
  font-size: 16px;
  box-sizing: border-box;
  padding: 4px;
  user-select: none;
}

p#subtitles {
  position: absolute;
  display: inline-block;
  top: 40px;
  font-size: 24px;
  text-align: center;
  width: 100%;
  padding: 0;
  font-family: var(--subtitleFont);
  box-sizing: border-box;
  background-color: var(--subtitleBackgroundColor);
  text-shadow: var(--subtitleShadow);
  color: var(--subtitleColor);
  margin: auto;
}

div#progress {
  width: 100%;
  position: sticky;
  top: 0;
  position: sticky;
  top: 0;
  z-index: 10;
  background-color: var(--panelcolor);
}

#progressbarspot1 {
  position: sticky;
  top: 0;
  z-index: 10;
}

#progressbar {
  position: absolute;
  bottom: 12px;
  left: 50vw;
  transform: translateX(-50%);
}

label#progresstext {
  position: absolute;
  display: inline;
  bottom: 32px;
  left: 50vw;
  transform: translateX(-50%);
  z-index: 10000;
  padding: 1px;
}

input[type="checkbox"], input[type="radio"] {
  width: 1.2em;
  height: 1.2em;
  transform: translateY(0.1em);
}

div.flex {
  display: flex;
  box-sizing: border-box;
  padding-left: 8px;
  padding-right: 8px;
}

div.flex button{
  display: block;
  width: 100%;
}

.promptmain {
  color: white;
}

button.fancybutton.color-red {
  background-color: red;
  color: white;
}

button.fancybutton.color-green {
  background-color: green;
  color: white;
}

button.fancybutton.color-blue {
  background-color: blue;
  color: white;
}

button.fancybutton {
  border-radius: 4px;
  font-size: 16px;
  padding: 8px;
  background-color: var(--innerpanelcolor);
  color: var(--buttonTextColor);
  border-color: var(--panelcolor);
}

button.fancybutton:disabled {
  filter: brightness(0.7);
}

button.fancybutton:hover {
  cursor: pointer;
  filter: brightness(0.9);
}
button.fancybutton:hover:disabled {
  cursor: no-drop;
  filter: brightness(0.7);
}

button:active, button:focus {
  outline: none;
}

input#search {
  min-width: 64px;
  width: 75%;
}

div#lockPanel {
  position: absolute;
  right: 0;
  user-select: none;
  font-size: 20px;
  transition: all 0.25s ease-in-out;
}

div#lockPanel:hover {
  font-size: 24px;
  cursor: pointer;
}

input[type="checkbox"] + label, input[type="radio"] + label {
  cursor: pointer;
  user-select: none;
}

label[title] {
  text-decoration: underline;
}

input[type="text"], input[type="password"] {
  display: block;
}

sup {
  display: block;
  color: var(--txtcolor);
  filter: brightness(0.6);
  margin-left: 4px;
}

input#advancedToggle + label + div#advancedoptions {
  transition: 0.5s ease-in-out;
  width: 95%;
  height: 0px;
  /* background-color: var(--bgcolor); */
  margin: auto;
  border-left: 0px solid var(--txtcolor);
  padding-left: 4px;
  overflow: hidden;
}

input#advancedToggle:checked + label + div#advancedoptions {
  height: auto;
  border-width: 1px;
  overflow-y: auto;
}

input#advancedToggle:checked + label + div#advancedoptions::-webkit-scrollbar {
  visibility: hidden;
}

input[type="range"][orient="vertical"]
{
  display: block;
  -webkit-appearance: slider-vertical;
  width: 8px;
  height: 100px;
  padding: 0 16px;
}

input.fancyinput {
  border-radius: 4px;
  font-size: 16px;
  padding: 4px;
  background-color: var(--bgcolor);
  color: var(--txtcolor);
  border-color: var(--txtcolor);
}

input.fancyinput:disabled {
  filter: brightness(0.7);
}

select.fancyselect {
  display: block;
  border-radius: 4px;
  font-size: 16px;
  padding: 4px;
  background-color: var(--bgcolor);
  color: var(--txtcolor);
  border-color: var(--txtcolor);
}

progress.fancyprogress {
  display: block;
  height: 20px;
  padding: 1px;
  background-color: var(--txtcolor);
  color: var(--txtcolor);
  border-color: var(--bgcolor);
}

div#changenotes p {
  color: rgb(238, 193, 96);
}

div#settingsmenusidebar {
  overflow-y: auto;
}

div.pinput {
  position: relative;
  margin-left: 8px;
  width: 100%;
}

div.pinput > input{
  width: 100%;
  font-size: large;
  opacity: 0.0;
}

div.pinput > input + p{
  width: 100%;
  font-size: large;
  opacity: 1;
  position: absolute;
  top: 0;
  margin: 1px;
  user-select: none;
  pointer-events: none;
  white-space: nowrap;
}

div.pinput > input:focus-within{
  opacity: 1;
}

div.pinput > input:focus-within + p{
  opacity: 0;
}

.draganddrop {
  outline-style: dotted;
}

.draganddrop:hover {
  background-color: rgba(0, 0, 0, 0.25);
  cursor: pointer;
}

.draganddrop:active {
  outline-color: var(--txtcolor);
  cursor: pointer;
}

div.selectlist {
  position: absolute;
  background-color: var(--bgcolor);
  color: var(--txtcolor);
  z-index: 10000;
}

div.selectlist select {
  color: var(--txtcolor);
  background-color: var(--panelcolor);
  width: 100%;
}

#bottomgradient {
  position: absolute;
  pointer-events: none;
  bottom: 0px;
  left: 0;
  width: 100vw;
  height: 128px;
  /* background-color: black; */
  background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0) 100%);
  transition: all 0.2s ease-in-out;
}



/* ToxenScript Values */
.toxenscript_number {
  color: #78ff4a;
}
.toxenscript_var, .toxenscript_rawvar{
  color: #0094f7;
}
.toxenscript_string {
  color: #F0914B;
}
.toxenscript_event {
  color: #fccf03;
}
.toxenscript_eventinvalid {
  color: #f50;
  background: url("./underline.gif") bottom repeat-x;
}
.toxenscript_timing {
  color: #78ff4a;
}
.toxenscript_timinginvalid {
  color: #e4ff4a;
  background: url("./underline.gif") bottom repeat-x;
}
.toxenscript_comment {
  color: #248f00;
}
.toxenscript_limiter {
  color: #b600ad;
}

/* SVG */
.svg_folderopen_white:before {
  content: url(./svg/folderopen_white.svg);
  width: 20px;
  float: left;
  margin-right: 5px;
  /* margin-top: -2px; */
}

.svg_download_white:before {
  content: url(./svg/download_white.svg);
  width: 20px;
  float: left;
  margin-right: 5px;
  /* margin-top: -2px; */
}

.svg_reload_white:before {
  content: url(./svg/reload_white.svg);
  width: 20px;
  float: left;
  margin-right: 5px;
  /* margin-top: -2px; */
}