:root {
  --bgcolor: #1b1b1b;
  --panelcolor: #2b2b2b;
  --innerpanelcolor: #4b4b4b;
  --txtcolor: white;
  --playingSong: #00c843;
  --scrollbarColor: #1b1b1b;
  --scrollbarThumbColor: #353535;
  --scrollbarWidth: 24px;
}

body {
  background-color: var(--bgcolor);
  color: var(--txtcolor);
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  overflow: hidden;
}

#storyboard {
  z-index: 0;
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  transition: all 0.2s ease-out;
}

#musicObject {
  position: absolute;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  z-index: -1;
}

div.sidebar.left {
  left: 0;
}

div.sidebar.right {
  right: 0;
}

div.sidebar {
  position: absolute;
  top: 0;
  background-color: var(--panelcolor);
  height: 100vh;
  max-height: 100vh;
  min-width: 10%;
  width: 10%;
  opacity: 0;
  overflow: hidden;
  overflow-y: auto;
  transition: width 1s ease-in-out;
  transition-property: width, opacity;
  z-index: 100;
}

::-webkit-scrollbar {
  background-color: var(--scrollbarColor);
  width: var(--scrollbarWidth);
}

::-webkit-scrollbar-thumb {
  background-color: var(--scrollbarThumbColor);
}

/* div.sidebar::-webkit-scrollbar:hover {
  visibility: visible;
  width: 64px;
} */

div.sidebar:hover, div.sidebar[open] {
  width: 35vw;
  opacity: 0.9;
  transition: width 0.1s ease-in-out;
  transition-property: width, opacity;
}

#songselection {
  background-color: var(--innerpanelcolor);
  width: 100%;
  min-height: 32px;
  height: 60%;
  max-height: 60%;
  margin-top: 2%;
  box-sizing: border-box;
  scroll-behavior: smooth;
  overflow-x: hidden;
  overflow-y: hidden;
}

#songselection:hover {
  overflow-y: auto;
}

#songselection div.musicitem {
  width: 35vw;
  box-sizing: border-box;
  min-height: 1em;
  /* border: solid 1px white; */
  background-color: var(--innerpanelcolor);
}

#songselection div.songgroup[collapsed] {
  filter: brightness(0.8);
}

#songselection div.songgroup[collapsed] div.musicitem {
  display: none;
}

#songselection div.songgroup div.songgrouphead {
  /* min-height: 64px; */
  width: 100%;
  background-color: var(--bgcolor);
  border-top: solid white 1px;
  padding-left: 8px;
}

#songselection div.songgroup div.songgrouphead:hover {
  background-color: var(--panelcolor);
  cursor: pointer;
}

#songselection div.songgroup div.songgrouphead p {
  padding-top: calc(32px - 1em);
  padding-bottom: calc(32px - 1em);
  margin: 0;
  user-select: none;
  transition: all 0.15s ease-in-out;
}

#songselection div.songgroup div.songgrouphead:hover p {
  margin-left: 16px;
}

#songselection div.musicitem div.innermusicitem {
  transition: transform 0.1s ease-in-out;
  border: solid 1px white;
  box-sizing: border-box;
}

#songselection div.musicitem[playing] div.innermusicitem {
  background-color: var(--playingSong);
}

#songselection div.musicitem:hover[playing] {
  background-color: var(--playingSong);
  filter: invert();
}

#songselection div.musicitem:hover div.innermusicitem {
  min-height: 1em;
  border: solid 1px white;
  box-sizing: border-box;
  transform: translate(1%, -4px);
  width: 100%;
  box-shadow: 4px 4px 10px 10px var(--bgcolor);
  background-color: var(--bgcolor);
  cursor: pointer;
}

#songselection div.musicitem:hover + div.musicitem div.innermusicitem{
  min-height: 1em;
  border: solid 1px white;
  box-sizing: border-box;
  transform: translate(0.5%, -2px);
}

#songselection div.musicitem p {
  font-size: 16px;
  box-sizing: border-box;
  padding: 4px;
  user-select: none;
}

p#subtitles {
  position: absolute;
  display: inline-block;
  top: 16px;
  font-size: 24px;
  text-align: center;
  width: 100%;
  padding: 0;
  box-sizing: border-box;
  background-color: rgba(0, 0, 0, 0.25);
  text-shadow: 0px 0px 5px #000;
  margin: auto;
}

div#progress {
  width: 100%;
  position: sticky;
  top: 0;
  z-index: 10;
  background-color: var(--panelcolor);
}

/* div#progress label#progresstext {
  
} */

div#progress progress#progressbar {
  width: 100%;
}

input[type="checkbox"], input[type="radio"] {
  width: 1.2em;
  height: 1.2em;
  transform: translateY(0.1em);
}

div.flex {
  display: flex;
  box-sizing: border-box;
  /* padding-left: 8px; */
  padding-right: 16px;
}

div.flex button{
  display: block;
  width: 100%;
}

button.fancybutton.color-red {
  background-color: red;
}

button.fancybutton.color-green {
  background-color: green;
}

button.fancybutton.color-blue {
  background-color: blue;
}

button.fancybutton {
  border-radius: 4px;
  font-size: 16px;
  padding: 8px;
  background-color: var(--innerpanelcolor);
  color: var(--txtcolor);
  border-color: var(--panelcolor);
}

button.fancybutton:disabled {
  filter: brightness(0.7);
}

button.fancybutton:hover {
  cursor: pointer;
  filter: brightness(0.9);
}
button.fancybutton:hover:disabled {
  cursor: no-drop;
  filter: brightness(0.7);
}

button:active, button:focus {
  outline: none;
}

input#search {
  min-width: 64px;
  width: 75%;
}

div#lockPanel {
  position: absolute;
  right: 0;
  user-select: none;
  font-size: 20px;
  transition: all 0.25s ease-in-out;
}

div#lockPanel:hover {
  font-size: 24px;
  cursor: pointer;
}

input[type="checkbox"] + label, input[type="radio"] + label {
  cursor: pointer;
  user-select: none;
}

label[title] {
  text-decoration: underline;
}

input[type="text"], input[type="password"] {
  display: block;
}

sup {
  display: block;
  color: var(--txtcolor);
  filter: brightness(0.6);
  margin-left: 4px;
}

input#advancedToggle + label + div#advancedoptions {
  transition: 0.5s ease-in-out;
  width: 95%;
  height: 0px;
  /* background-color: var(--bgcolor); */
  margin: auto;
  border-left: 0px solid var(--txtcolor);
  padding-left: 4px;
  overflow: hidden;
}

input#advancedToggle:checked + label + div#advancedoptions {
  height: auto;
  border-width: 1px;
  overflow-y: auto;
}

input#advancedToggle:checked + label + div#advancedoptions::-webkit-scrollbar {
  visibility: hidden;
}

input[type="range"][orient="vertical"]
{
  display: block;
  -webkit-appearance: slider-vertical;
  width: 8px;
  height: 100px;
  padding: 0 16px;
}

input.fancyinput {
  border-radius: 4px;
  font-size: 16px;
  padding: 4px;
  background-color: var(--bgcolor);
  color: var(--txtcolor);
  border-color: var(--txtcolor);
}

input.fancyinput:disabled {
  filter: brightness(0.7);
}

select.fancyselect {
  display: block;
  border-radius: 4px;
  font-size: 16px;
  padding: 4px;
  background-color: var(--bgcolor);
  color: var(--txtcolor);
  border-color: var(--txtcolor);
}

progress.fancyprogress {
  display: block;
  height: 20px;
  padding: 1px;
  background-color: var(--txtcolor);
  color: var(--txtcolor);
  border-color: var(--bgcolor);
}

div#changenotes p {
  color: rgb(238, 193, 96);
}

div#settingsmenusidebar {
  overflow-y: auto;
}

div.pinput {
  position: relative;
  margin-left: 8px;
  width: 100%;
}

div.pinput > input{
  width: 100%;
  font-size: large;
  opacity: 0.0;
}

div.pinput > input + p{
  width: 100%;
  font-size: large;
  opacity: 1;
  position: absolute;
  top: 0;
  margin: 1px;
  user-select: none;
  pointer-events: none;
  white-space: nowrap;
}

div.pinput > input:focus-within{
  opacity: 1;
}

div.pinput > input:focus-within + p{
  opacity: 0;
}

.draganddrop {
  outline-style: dotted;
}

.draganddrop:hover {
  background-color: rgba(0, 0, 0, 0.25);
  cursor: pointer;
}

.draganddrop:active {
  outline-color: var(--txtcolor);
  cursor: pointer;
}

/* ToxenScript Values */
.toxenscript_number {
  color: #78ff4a;
}
.toxenscript_var, .toxenscript_rawvar{
  color: #0094f7;
}
.toxenscript_string {
  color: #f77300;
}
.toxenscript_event {
  color: #fccf03;
}
.toxenscript_eventinvalid {
  color: #f50;
  background: url("./underline.gif") bottom repeat-x;
}
.toxenscript_timing {
  color: #78ff4a;
}
.toxenscript_timinginvalid {
  color: #e4ff4a;
  background: url("./underline.gif") bottom repeat-x;
}
.toxenscript_comment {
  color: #248f00;
}
.toxenscript_limiter {
  color: #b600ad;
}